sync_from_upstream:
  image: alpine:latest
  script:
    - apk add git
    - git remote add upstream git@github.com:huxulm/testsync.git
    - git fetch upstream
    - git checkout master
    - git merge upstream/master
    - git push origin master
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"  # 定时触发
    - if: $CI_PIPELINE_SOURCE == "web"       # 在页面点击 Run pipeline 时触发
    - when: manual
